<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.infozyn_sona" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/s_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Infozyn_sona" >
        <activity
            android:name=".Admin_Access"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2018_d.FeedDel2018_FundedProjects"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Update_Feed.update_2018.UpdateFeed2018_FundedProjects"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2018_d.FeedDel2018_Upcoming_Events"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Update_Feed.update_2018.UpdateFeed2018_Upcoming_Events"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2018_d.FeedDel2018_awards"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Update_Feed.update_2018.UpdateFeed2018_Awards"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2018_d.del_2018_cat"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2018_d.FeedDel2018_FineArts"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Update_Feed.update_2018.UpdateFeed2018_FineArts"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2019_d.FeedDel2019_FundedProjects"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Update_Feed.update_2019.UpdateFeed2019_FundedProjects"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2019_d.FeedDel2019_Upcoming_Events"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Update_Feed.update_2019.UpdateFeed2019_Upcoming_Events"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2019_d.FeedDel2019_awards"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Update_Feed.update_2019.UpdateFeed2019_Awards"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2019_d.del_2019_cat"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2019_d.FeedDel2019_FineArts"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Update_Feed.update_2019.UpdateFeed2019_FineArts"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2020_d.FeedDel2020_FundedProjects"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Update_Feed.update_2020.UpdateFeed2020_FundedProjects"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2020_d.FeedDel2020_Upcoming_Events"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Update_Feed.update_2020.UpdateFeed2020_Upcoming_Events"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2020_d.FeedDel2020_awards"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Update_Feed.update_2020.UpdateFeed2020_Awards"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2020_d.del_2020_cat"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2020_d.FeedDel2020_FineArts"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Update_Feed.update_2020.UpdateFeed2020_FineArts"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2022_d.FeedDel2022_FundedProjects"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Update_Feed.update_2022.UpdateFeed2022_FundedProjects"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2022_d.FeedDel2022_Upcoming_Events"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Update_Feed.update_2022.UpdateFeed2022_Upcoming_Events"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Update_Feed.update_2022.UpdateFeed2022_Awards"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2022_d.FeedDel2022_awards"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2021_d.FeedDel2021_FundedProjects"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Update_Feed.update_2021.UpdateFeed2021_FundedProjects"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2021_d.FeedDel2021_Upcoming_Events"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Update_Feed.update_2021.UpdateFeed2021_Upcoming_Events"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2021_d.FeedDel2021_FineArts"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Update_Feed.update_2021.UpdateFeed2021_FineArts"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2022_d.del_2022_cat"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2021_d.del_2021_cat"
            android:exported="true" />
        <activity
            android:name=".feed.delete.FeedDel_category"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Update_Feed.update_2021.UpdateFeed2021_Awards"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2021_d.FeedDel2021_awards"
            android:exported="true" />
        <activity
            android:name=".feed.feed2022.Feed2022_FineArts"
            android:exported="true" />
        <activity
            android:name=".feed.feed2022.Feed2022_FundedProjects"
            android:exported="true" />
        <activity
            android:name=".feed.feed2022.Feed2022_Awards"
            android:exported="true" />
        <activity
            android:name=".feed.feed2022.Feed2022_Upcoming_event"
            android:exported="true" />
        <activity
            android:name=".feed.feed2022.Category_2022"
            android:exported="true" />
        <activity
            android:name=".feed.Feed2021.Feed2021_FundedProjects"
            android:exported="true" />
        <activity
            android:name=".feed.Feed2021.Feed2021_Awards"
            android:exported="true" />
        <activity
            android:name=".feed.Feed2021.Feed2021_Upcoming_event"
            android:exported="true" />
        <activity
            android:name=".feed.Feed2021.Category_2021"
            android:exported="true" />
        <activity
            android:name=".feed.Feed2021.Feed2021_FineArts"
            android:exported="true" />
        <activity
            android:name=".feed.Feed2020.Feed2020_FundedProjects"
            android:exported="true" />
        <activity
            android:name=".feed.Feed2020.Feed2020_Awards"
            android:exported="true" />
        <activity
            android:name=".feed.Feed2020.Feed2020_Upcoming_Events"
            android:exported="true" />
        <activity
            android:name=".feed.Feed2020.Feed2020_FineArts"
            android:exported="true" />
        <activity
            android:name=".feed.Feed2019.Feed2019_FundedProjects"
            android:exported="true" />
        <activity
            android:name=".feed.Feed2019.Feed2019_Awards"
            android:exported="true" />
        <activity
            android:name=".feed.Feed2020.Category_2020"
            android:exported="true" />
        <activity
            android:name=".feed.Feed2018.Feed2018_FundedProject"
            android:exported="true" />
        <activity
            android:name=".feed.Feed2018.Feed2018_awards"
            android:exported="true" />
        <activity
            android:name=".feed.Feed2019.Category_2019"
            android:exported="true" />
        <activity
            android:name=".feed.Feed2019.Feed2019_Upcoming_event"
            android:exported="true" />
        <activity
            android:name=".feed.Feed2018.Category"
            android:exported="true" />
        <activity
            android:name=".feed.Feed2018.Feed_2018_Upcoming_event"
            android:exported="true" />
        <activity
            android:name=".feed.Feed2019.Feed_2019"
            android:exported="true" />
        <activity
            android:name=".feed.Feed2018.Feed_2018"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Update_Feed.update_2022.UpdateFeed2022_FineArts"
            android:exported="true" />
        <activity
            android:name=".feed.delete.Feed2022_d.FeedDel2022_FineArts"
            android:exported="true" />
        <activity
            android:name=".faculty.DisplayTeacherActivity"
            android:exported="true" />
        <activity
            android:name=".faculty.UpdateTeacherAcivity"
            android:exported="true" />
        <activity
            android:name=".Pro_Activity"
            android:exported="true" />
        <activity
            android:name=".AboutSona"
            android:exported="true" />
        <activity
            android:name=".GoogleSigninActivity"
            android:exported="true" />
        <activity
            android:name=".faculty.AddTeacher"
            android:exported="true" />
        <activity
            android:name=".faculty.UpdateFaculty"
            android:exported="true" />
        <activity
            android:name=".UploadPdfActivity"
            android:exported="true" />
        <activity
            android:name=".gallery.UploadImage"
            android:exported="true" />
        <activity
            android:name=".feed.UploadNotice"
            android:exported="true" />
        <activity
            android:name=".AdminPanel"
            android:exported="true" />
        <activity
            android:name=".gallery.Gallery"
            android:exported="true" />
        <activity
            android:name=".Splash_Screen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".homepage.home_page"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>